<div class="col-sm-8 panel panel-default course-adjust">
			     <course-title></course-title>
   <div materials="textBooks"></div>   
   <div materials="handouts"></div>  
   <div materials="externalReadings"></div>  
   <div materials="assignments"></div>  
</div>
<div class="hidden-xs col-sm-4">
	<ol class="breadcrumb">
	   <li><a>{{mainNav[activeIndex]}}</a></li>
	   <li><a>{{displayedMaterials}}</a></li>
	   <li class="active">{{describedMaterial.name}}</li>
	</ol>
	<div class="alert alert-info">
	   <span>Select a material and see a short description about it here</span>
	</div>
</div>