<div class="col-sm-8">
   <div materials="textBooks"></div>   
   <div materials="handouts"></div>  
   <div materials="externalReadings"></div>  
   <div materials="assignments"></div>  
</div>
<div class="hidden-xs col-sm-4">
	<ol class="breadcrumb">
	   <li><a>{{mainNav[activeIndex]}}</a></li>
	   <li><a>{{displayedMaterials}}</a></li>
	   <li class="active">{{describedMaterial.name}}</li>
	</ol>

	<div class="alert alert-info" ng-show="describedMaterial==null || (describedMaterial==null && activeEditorIndex==-1)">
	   <span>Select a material and see a short description about it here</span>
	</div>

	<describe-material width="12"></describe-material>
	<div class="ng-include="getActiveEditor(activeEditorIndex , 'materials')"></div>
</div>