<div ng-controller="quizziesController">
   <div class="col-sm-8 well" ng-controller="quizEditorController">
       <div class="" ng-repeat="quizie in quizzies" >
	       
		   <div class="panel panel-default" ng-click="setActiveQuiz($index)" ng-show="true">
			  <div class="panel-heading ins-vid" ng-class="$index==activeQuizIndex? 'materials-active':''">
				 <div class="panel-title">
					{{quizie.title}}

					<i class="icon fa fa-caret-right pull-right" ng-hide="$index==activeQuizIndex" ></i>
					<i class="icon fa fa-caret-down pull-right" ng-show="$index==activeQuizIndex"  ></i>	
					<button type="button" class="btn btn-danger btn-xs pull-right" ng-click="deleteQuiz($index)" ng-show="editorMode"> del </button>
				 </div>
			  </div>
		   </div>
		   
		   
		   <div ng-show="$index==activeQuizIndex && (type=='')"> 
			   <div class="alert alert-info" ng-show="isEmpty() && !editorMode">
			      <p>This quiz is empty</p>
			   </div>
			   
			  <div class="panel panel-body" ng-show="!isOn && !grade" ng-class="">
			     <p class="alert alert-info" style="margin-top:1em;" ng-show="!editorMode">Hey you should be 100% prepared to take this quiz because the very first instance of
				    your taking this quiz is what will be registered on the scoreboard though you may take this
					quiz as many times as you wish.</p>
				 <p>{{quizie.description}}</p>
				 <p><strong>Duration: </strong><a> {{quizie.duration}} mins</a></p>
				 <div class="pager">
					<button class="btn btn-brand btn-sm no-outline" ng-click="takeQuiz()" ng-hide="editorMode">take quiz</button>
					<div class="btn-group" ng-show="editorMode">
					   <button class="btn btn-default btn-xs no-outline" ng-click="edit('description')">edit description</button>
					   <button class="btn btn-brand btn-xs no-outline" ng-click="takeQuiz()">edit quiz</button>
					</div>
				 </div>
			  </div>
			  <div class="alert alert-info" ng-show="end && !grade && !editorMode">
			      <p style="text-align:center;">
				     You have gotten to the end of this quiz 
					 <ul class="pager">
					    <button class="btn bnt-default btn-sm  no-outline" ng-click="prevQ()">back</button>
						<button class="btn bnt-default btn-sm  no-outline" ng-click="gradeQuiz()">submit</button>
					 </ul>
			     </p>
				  
			  </div>
			 
			  <div ng-show="grade && !editorMode" class="panel panel-default">
			     <div class="panel-body" style="text-align:center;">
				    <span style="font-size:2em;">{{user.userName}} you scored </span> 
					<p style="font-size:4em;color:green; font-weight:bold;">{{totalScore}} / {{quizie.quiz.length}}</p>
					your current position is <span style="color:green;">{{position | wordSuffix}}</span> on the score board 
                    <p>
					   <h4>Verdict</h4>
					   {{verdict}}
					</p>					
				 </div>
			  </div>
			   <div class="panel panel-body" ng-show='isOn'>
			      <div ng-show="!end && !isEmpty()"> 
					  (Q:{{activeQuestionIndex+1}})
					  <div class="btn-group pull-right" ng-show="editorMode">
						  <button class="btn btn-danger btn-xs no-outline" ng-click="deleteQuestion()">del</button>
						  <button class="btn btn-brand btn-xs no-outline" ng-click="edit('quiz')">edit</button>
					  </div>
					  <span ng-if="submitted && !editorMode">
						 <i class="icon fa fa-check pull-right" style="color:green; font-size:1.5em;" ng-show="isCorrect()"></i>  
						 <i class="pull-right" style="color:red; font-size:1.5em; font-weight:bold;"  ng-hide="isCorrect()">X</i>
					  </span>
					  
					  <p>{{quizie.quiz[activeQuestionIndex].question}}</p>
					  <span ng-repeat="option in quizie.quiz[activeQuestionIndex].options" >
						 <input type="checkbox" ng-click="checkOption($index)" ng-model="optionSelected[$index]"> {{option}} <br>
					  </span>
				  </div>
				  <div class="alert alert-info" ng-show="editorMode && (end || isEmpty()) " ng-click="">
					  <p style="text-align:center;">
						 click the plus sign to add questions
					 </p>  
				  </div>
				  <ul class="pager" ng-hide="end && !editorMode">
					 <button class="previous btn btn-default btn-sm no-outline" ng-click="prevQ()"><a>&larr; prev</a></button>
					 <button class="next btn btn-default btn-sm no-outline" ng-click="submit()"><a >Next &rarr;</a></button>
					 <button class="next btn btn-default btn-sm no-outline" ng-click="addNewQuestion()" ng-show="editorMode"><a><i class="icon fa fa-plus"></i> Add</a></button>
				  </ul>
			  </div>
		  </div>
		  
		  <div ng-show="$index==activeQuizIndex">
		     <span ng-include="getQuizEditor()"></span>
		  </div>
		  
      </div>
	  
	  <div class="pager" ng-show="editorMode">
	      <button class=" btn btn-default no-outline" ng-click="addNewQuiz()">New Quiz <i class="icon fa fa-plus"></i></button>
	  </div>
   </div> 
   
   <div class="col-sm-4 hidden-xs">
       <div class="breadcrumb">
		 <h3 style="font-size:1.5em;">Score Board</h3>
	  </div>
	  <div class="alert alert-info" ng-show="activeQuizIndex==-1">
		  <span>Select a quiz to see the score board here! </span>
	   </div>
	   <div class="alert alert-info" ng-show="quizzies[activeQuizIndex].participants.length==0">
		  <span>No body has taken this quiz yet</span>
	   </div>
	   <div class="list-group" style="max-height:20em; overflow:auto">
			<a class="list-group-item" ng-repeat="user in quizzies[activeQuizIndex].participants">
			   <img ng-src={{user.img}} style="width:2em" class="img-circle">
			   {{user.name}} <span class="pull-right">{{user.score}} pts</span>
			</a>
	   </div>
   </div>
</div>