 <div class="panel-group">
     <div class="well col-sm-9">
	     <div class="panel panel-default" ng-repeat="video in data.contents.videos" >
		  <span ng-hide="activeEditorIndex==$index">
			  <div class="panel-heading ins-vid" ng-click="setActiveInsVideo($index , 'videos')" ng-class="$index==activeInsVideo ? 'materials-active':''">
			     <div class="panel-title">
				    <span>{{video.title | uppercase}}</span>
					 <i class="icon fa fa-caret-right pull-right" ng-hide="$index==activeInsVideo"></i>
			         <i class="icon fa fa-caret-down pull-right" ng-show="$index==activeInsVideo"></i>
				    <div class="btn-group pull-right" ng-show="editorMode"> 
				      <button type="button" class="btn btn-danger btn-xs" ng-click="deleteItem($index , 'videos')"> X </button>
					  <button type="button" class="btn btn-brand btn-xs" ng-click="setActiveEditor($index , 'videos')"> edit</button>
				   </div>
				 </div>
			  </div>
			  <div class="panel-body" ng-show="$index==activeInsVideo">
					<video src={{video.ref}} poster=""  preload controls loop class="col-xs-12"></video>
			  </div>
		</span>
		    <!--=================================================================-->
				<div ng-include="getActiveEditor($index , 'videos')"></div>
			<!--=================================================================-->
		</div>
		<div class="pager" ng-show="editorMode">
		   <button class=" btn btn-default no-outline" ng-click="addNewItem('videos')">Add New <i class="icon fa fa-plus"></i></button>
		</div>
	 </div>
	 <describe-material width="3"></describe-material>
 </div>
