<div style="padding:0; margin:0;"  ng-controller="filterButtonController">
      <div id="mainView">
        <header role="banner">
		    <nav role="navigation" class="nav navbar-default navbar-fixed-top">
		      <div class="container">
			     <div class="navbar-header">
				    <a class="navbar-brand brand-logo hidden-xs" ng-click="toggleSideMenu()"><img ng-src="img/leclog.png" alt="telectual" height="40"></a>
					<a class="navbar-brand brand-logo visible-xs"><img ng-src="img/leclogs.png" alt="telectual" height="35"></a>
				    <button class="btn navbar-btn btn-default log-out btn-xs no-outline" ng-click="logOut()">Exit</button>
					<ul class="nav navbar-nav" id="nav-static">
                       <li ng-click="activateNav('explore')" ng-class="context=='explore' ? 'active bottom-line' : ''">
					      <a>
						     <span class="col-xs-12"><i class="icon fa fa-star"></i></span>
							 <span class="col-xs-12"> Explore </span>
						  </a>
					   </li>					   
					   <li ng-click="activateNav('editor')" ng-class="context=='editor' ? 'active bottom-line' : ''">
					      <a>
						     <span class="col-xs-12"><i class="icon fa fa-edit"></i></span> 
							 <span class="col-xs-12"> Editor </span>
					      </a>
					   </li>
					   <li ng-click="activateNav('profile')" ng-class="context=='profile' ? 'active bottom-line' : ''">
					      <a>
						     <span class="col-xs-12"><i class="icon fa fa-user"></i></span> 
							 <span class="col-xs-12"> Profile </span>
					      </a>
					   </li>
					   <li class="visible-xs" ng-click="searchbox=!searchbox">
					      <a>
						     <span class="col-xs-12" ><i class="icon fa fa-search"></i></span> 
							 <span class="col-xs-12"> Search </span> 
					      </a>
					   </li>
				    </ul>
				    <ul class="nav navbar-nav hidden-xs">
				        <li style="margin:0 0 0 30%;">
					      <form class="navbar-form input-append ">
						     <div class="form-group ">
								<div class="input-group">
									 <div class="input-group">
										<input type="text" class="form-control searchbox-radius" id="search-filter" placeholder="filter results or search"
  										         ng-model="searchText" >
										<a class="input-search-icon" ng-click="searchHappyUser(searchText)"><i class="icon fa fa-search "></i></a>
									 </div>
						       </div>   
						     </div>
			              </form>
					   </li> 
				   </ul>
			     </div> 
			  </div><!--./container-->
		   </nav>
		</header>
		
	     <div class="input-group">
			<input class="form-control search-xs hidden-sm hidden-md hidden-lg"  placeholder="search telectual" ng-model="input" ng-show="searchbox">
		</div> 
<!--=======================view for displaying page contents===========================-->
		 <span ng-controller="filteredDataController" style="padding:0;margin:0;">
			<span ng-view ></span>
		 </span>   	 
<!--=======================view for displaying page contents===========================-->
   </div>
	<footer role="contentinfo">
	 <div class="social">
	   <p>&copy; 2013-2014 , all rights reserved www.<a><img class="img-rounded" src="img/leclog.png" alt="leclog" height="20"></a>.com</p>
	</div>  
   </footer>
   </div>