.navbar-nav li.active:after, .navbar-nav li.active:before {
	bottom: 0%;
    margin-bottom: -2px;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.navbar-nav li.active:after {
	border-bottom-color:  rgba(0 , 0  , 0 , .9);
	border-width: 6px;
	margin-left: -6px;
    z-index: 1;
}
.navbar-nav li.active:before {
	border-bottom-color:  rgba(0 , 0  , 0 , .9);
	border-width: 9px;
	margin-left: -9px;
    z-index: 1;
}