<main role="main" ng-controller="exploreController">
   <div class="panel-body" id="explore">
      <section class="content-primary col-sm-2">					
			 <div class="list-group">
				 <a class="list-group-heading">
				   <div class="input-group">
					 <input type="text" class="form-control category-filter" placeholder="filter results"ng-click="resetFilter()" ng-model="filterText">
					 <a class="input-search-icon "><i class="icon fa fa-filter "></i></a>
				   </div>
				 </a>
				 <a ng-repeat="menu in menuItems | filter:filterText" class="list-group-item" ng-click="activate($index)" ng-class="$index==activeIndex ? 'active':''">
				   {{menu | capitalize}}
				   <span class="pull-right">{{getCategoryCount(menu)}}</span>
				 </a>
			 </div>
		</section>
		<section class="content-secondary col-sm-8">
		    <div class="panel panel-default row">
			   <div class="panel panel-heading subNav-container col-xs-12"  style="padding-top:2.4em;">
					<div class="input-group-btn">
					   <h3 class="selected-header">{{selected | capitalize}}</h3><!--@DEBUG extra padding for headers in effect in IE-->
                       <sub-nav></sub-nav>
					</div>
			    </div>
			    <div class="clearfix"></div>
				<div class="panel panel-default ngFade course-brief col-sm-6" ng-repeat="course in shown" ng-hide="data.error">
				   <div class="panel-heading">
					  <div class="panel-title" style="text-align:center">
						 <h5 class="title"> <b>{{course.title}}</b></h5>
					  </div>
				   </div>
				   <span ng-click="loadCourse($index , 'view')">
					   <div class="panel-body">
					      <div class="">
						     <img src="img/okwu.jpg" style="width:100%;" class="img-rounded">
						  </div>
						  <div class="">
						     <h5>Description</h5>
						     <p style="font-size:.8em;">{{course.description}}</p>
						  </div>
					   </div>
					   <div class="panel-footer">
						  <a class="footer-icon"><i class="icon fa fa-thumbs-up"> {{course.ratings.likes}}</i></a>
						  <a class="footer-icon"><i class="icon fa fa-thumbs-down"> {{course.ratings.dislikes}}</i></a>
						  <a class="footer-icon"> {{course.price | currency}}</a>
						  <a class="pull-right footer-icon-last">
						  <i class="icon fa fa-eye"></i>
						  </a>
					   </div>
					</span>
				</div>
				<div style="padding:1em;" ng-show="selectedBriefs.length==0">
				   <empty-category-message>
				</div>
				
			</div>
			<div class="pager" ng-hide="shown.length<4">
				   <button class=" btn btn-brand no-outline" ng-click="loadMore()">Load More</button>
				</div>
	</section>	
	
	<div class="col-sm-2 ads-box hidden-xs">
	   <div class="panel panel-default">
	      <div class="panel-heading">
		      <span class="panel-title">
			     Ads here
			  </span>
		  </div>
		  <div class="panel-body">
		     <a><img src="img/okwu.jpg"> name of advert</a>
		     <span>
			     life accusamus terry richardson ad squid. 3 w
			 </span>
		  </div>
	   </div>
	    <div class="panel panel-default">
	      <div class="panel-heading">
		      <span class="panel-title">
			     Ads here
			  </span>
		  </div>
		  <div class="panel-body">
		     <a><img src="img/ads.jpg"> name of advert</a>
		     <span>
			     life accusamus terry richardson ad squid. 3 w
			 </span>
		  </div>
	   </div>
	</div>
   </div>
</main>